<div class="content">
    <h1>スペル一覧</h1>
    
    <p><%= link_to 'スペル登録', new_post_path %></p>
    <p><%= link_to 'プロフィール', profile_path(current_user.id) %></p>
    
    <p>
        <a href="/spellA">A</a>
        <a href="/spellB">B</a>
        <a href="/spellC">C</a>
        <a href="/spellD">D</a>
        <a href="/spellE">E</a>
        <a href="/spellF">F</a>
        <a href="/spellG">G</a>
        <a href="/spellH">H</a>
        <a href="/spellI">I</a>
        <a href="/spellJ">J</a>
        <a href="/spellK">K</a>
        <a href="/spellL">L</a>
        <a href="/spellM">M</a>
        <a href="/spellN">N</a>
        <a href="/spellO">O</a>
        <a href="/spellP">P</a>
        <a href="/spellQ">Q</a>
        <a href="/spellR">R</a>
        <a href="/spellS">S</a>
        <a href="/spellT">T</a>
        <a href="/spellU">U</a>
        <a href="/spellV">V</a>
        <a href="/spellW">W</a>
        <a href="/spellX">X</a>
        <a href="/spellY">Y</a>
        <a href="/spellZ">Z</a>
    </p>
    
    
    <%= render 'users/posts/spell', posts: @posts %>
</div>