<div class="content">
    <h1>スペル一覧</h1>
    
    <p><%= link_to 'スペル登録', new_post_path %></p>
    <p><%= link_to 'プロフィール', profile_path(current_user.id) %></p>
    
    <p><a href="/spellA">A</a></p>
    
    <%= render 'users/posts/spell', posts: @posts %>
</div>