<div class="content">
  <h1>users show</h1>
  
  <p><%= link_to 'スペル一覧', posts_path %></p>
  
  <p><%= link_to 'スペル登録', new_post_path %></p>
  
  <p><%= link_to 'ユーザー情報編集', edit_user_path %></p>

  <p><%= link_to 'ログアウト', logout_path %></p>
</div>