<div class="content">
  <div class="row">
    
    <div class='col-sm-4 mb-3'>
      <%= render 'users/users/menu' %>
    </div>
      
    <div class='col-sm-4'>
      <h1>日記一覧</h1>
      <table class="spell mt-4">
        <% @diaries.each do |diary| %>
        <tr>
          <td><%= link_to diary_path(diary) do %><%= diary.title %><% end %></td>
          <td><%= l diary.created_at, format: :long %></td>
        </tr>
        <% end %>
      </table>
    </div>
    
  </div>
</div>