<div class="content">
  <div class="row">
    <div class='col-sm-4'>
      <p><%= link_to 'スペル登録', new_post_path %></p>
      <p><%= link_to 'プロフィール', profile_path(current_user.id) %></p>
    </div>
    
    <div class='col-sm-4'>
      <h1>Gで始まるスペル</h1>
    
      <%= render 'users/posts/spell', posts: @posts %>
      
    </div>
  </div>
</div>