<div class="content">
  <div class="row">
    <div class='col-sm-4'>
      <%= render 'users/users/menu' %>
    </div>
    
    <div class='col-sm-4'>
      <h1>Eで始まるスペル</h1>
    
      <%= render 'users/posts/spell', posts: @posts %>
      
    </div>
  </div>
</div>